body { 
    display: flex; 
    flex-direction: column;  
    align-items: center;  
    justify-content: space-around; 
    height:100vh; 
    background-color: whitesmoke
}


#container { 
    display: flex; 
    justify-content: center;  
    flex-direction: column; 
    align-items: center; 
    border: 2px black solid; 
    padding: 7rem;  
    background-color: #e01919;
}  

h3 { 
    color: whitesmoke
}
