@keyframes float { 
    0% { 
    transform: translateY(0px); 
    opacity: 0.5
    }  
    10% { 
        opacity: 0.7;
    } 
    20%{ 
        opacity: 0.5;  
    } 
    30% { 
        opacity: 0.7;
    } 
    40%{ 
        opacity: 0.5; 
    } 
    50% { 
        opacity: 0.7;
    } 
    60%{ 
        opacity: 0.5; 
    }
    80% { 
        transform: translateY(-100vh); 
        opacity: 0
    }
}

#mouseMove { 
    z-index: 2;
}

#background { 
    height:100vh; 
    width:100vw; 
    background-color: #252120; 
    color: white;

} 

/* +++++++++++++++ */ 



#movingDots { 
    position: absolute; 
    top:0;
    left:0; 
    width:100%; 
    height:100%; 
    z-index: 0; 
    transform: translateZ(0);
} 

#movingDots li { 
    position: absolute; 
    list-style: none; 
    display:block; 
    background-color: yellow; 
    opacity: 0; 
    bottom: -13%;         
    animation: float infinite; 
    transition-timing-function: linear;
} 
 

#movingDots li:nth-child(1) {  
    width: 3em; 
    height: 3em;
    left:12.5%;  
    clip-path: circle(50% at 50% 50%);
    animation-delay: 0s; 
    animation-duration: 21s;
}  


#movingDots li:nth-child(2) { 
    width: 2em; 
    height: 2em; 
    left:25%; 
    clip-path: circle(50% at 50% 50%);
    animation-delay: 3s; 
    animation-duration: 22s; 
} 

#movingDots li:nth-child(3) { 
    width: 1em; 
    height: 1em;
    left:37.5%; 
    clip-path: circle(50% at 50% 50%);
    animation-delay: 0s; 
    animation-duration: 20s;
} 

#movingDots li:nth-child(4) {   
    width: 2em; 
    height: 2em; 
    left:50%; 
    animation-delay: 3s; 
    animation-duration: 26s; 
    clip-path: circle(50% at 50% 50%);

}  

#movingDots li:nth-child(5) { 
    width: 1.9em; 
    height: 1.9em; 
    left:62.5%; 
    animation-delay: 1s; 
    animation-duration: 20s; 
    clip-path: circle(50% at 50% 50%);

}  

#movingDots li:nth-child(6) { 
    width: 1.8em; 
    height: 1.8em; 
    left:75%; 
    animation-delay: 4s; 
    animation-duration: 19s; 
    clip-path: circle(50% at 50% 50%);

}  

#movingDots li:nth-child(7) { 
    width: 1em; 
    height: 1em; 
    left:87.5%; 
    animation-delay: 1.4s; 
    animation-duration: 18s; 
    clip-path: circle(50% at 50% 50%);

} 


